/* Estilos personalizados */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #e0e0e0;
    /* Fondo gris claro */
    transform: none !important;
    zoom: 1 !important;
}

.titulo {
    font-size: 35px;
    color: white;
    font-family: 'Dancing Script', cursive;
    float: left; /* Añadir un margen a la izquierda */
}

.header {
    background-color: #008080;
    /* Encabezado color teal */
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* Centrar el contenido verticalmente */
    justify-content: flex-start; /* Cambiar de 'center' a 'flex-start' */
}

/* Contenedor principal (layout-container) */
.layout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 93vh;
    /* 100vh - altura del header */
    padding: 0 15px;
    /* Añadir un pequeño espaciado en los laterales */
}

/* Contenedor del móvil (phone-container) */
.phone-container {
    width: 45%;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: black;*/
    margin-left: -10%;
}

/* Imagen en la pantalla del móvil (phone-image) */
.phone-image {
    max-width: 100%;
    max-height: 100%;
}

/* Contenedor del formulario (login-form-container) */
.login-form-container {
    background-color: white;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border: 1px solid rgb(56, 55, 55);
    margin-left: -12%;
}

/* Asegurar que los formularios tienen un buen diseño */
.form-label {
    font-weight: bold;
}

.form-control {
    margin-top: 2%;
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button.btn {
    width: 100%;
    padding: 12px;
    background-color: #343a40;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

button.btn:hover {
    background-color: #23272b;
}

/* Enlaces sin decoración */
.text-decoration-none:hover {
    text-decoration: underline;
}

/* Añadir espaciado a los enlaces */
.d-flex {
    justify-content: space-between;
    
    margin-bottom: 20px;
}

